<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Introducción a Vue JS 2</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <div :class="jumbo">
                <h3>{{ mostrarTitulo() }}</h3>
                <!--<table-component></table-component>-->
                <table class="table table-striped table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th v-for="th in cabeceras" scope="col">{{ th }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(usuario, indice) in usuarios">
                            <th scope="row">{{ indice +1 }}</th>
                            <td v-for="dato in usuario">{{ dato }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="vue.js"></script>
</body>

</html>