<template>
    <form class="form">
        <slot name="titulo"></slot>
        <slot name="elementos"></slot>
        <slot name ="boton"></slot>
      
    </form>
</template>
<script>
export default {
    //  props: ['titulo']
}
</script>
<style scoped>

</style>

